.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Title {
  font-size: 950%;
  margin-top: 5px;
}

.StartButton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:150%;
  text-shadow:0px 1px 0px #2f6627;
  padding:2% 4%;
}

.StartButton:hover {
	background-color:#5cbf2a;
}

.StartButton:active {
	position:relative;
	top:1px;
}


.players {
  font-size:175%;
  background-color:#44c767;
  width: 2%;
  height: 2%;
  color:#ffffff;
  text-align: center;
  display: inline-block;
  border:1px solid #18ab29;
  text-shadow:0px 1px 0px #2f6627;
  margin:1% 1%;
  border-radius: 25%;
}

.playbutton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:150%;
  text-shadow:0px 1px 0px #2f6627;
  padding:0.5% 0.5%;
}

.playbutton:hover {
	background-color:#5cbf2a;
}

.playbutton:active {
	position:relative;
	top:1px;
}

.sideTeams{
  height: 140vh;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 40px;
  background-color: lightblue;
  border-left:5px solid #000000;
}

.sideTeams div{
  display: block;
  padding: 1%;
}

.gameBody{
  margin-right: 20%;
}

input {border-style: none; 
  background-color:#44c767;
  outline: none;
  margin: 0.7em;
  padding: 8px;
  color: white;
  border-radius: 2%;
  font-size: 1em;
}

::placeholder { 
  color: white;
  opacity: 75%;
  
}

.overlay {
  position: fixed; 
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2;
  cursor: pointer; 
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
