.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  font-size: 1000%;
}

.StartButton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:150%;
  text-shadow:0px 1px 0px #2f6627;
  padding:2% 4%;
}

.StartButton:hover {
	background-color:#5cbf2a;
}

.StartButton:active {
	position:relative;
	top:1px;
}


.players {
  font-size:175%;
  background-color:#44c767;
  width: 2%;
  height: 2%;
  color:#ffffff;
  text-align: center;
  display: inline-block;
  border:1px solid #18ab29;
  text-shadow:0px 1px 0px #2f6627;
  margin:1% 1%;
  border-radius: 25%;
}

.playbutton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:150%;
  text-shadow:0px 1px 0px #2f6627;
  padding:0.5% 0.5%;
}

.sideTeams{
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 40px;
  background-color: lightblue;
}

.sideTeams div{
  display: block;
  padding: 1%;
}

.gameBody{
  margin-right: 20%;
}

