.App {
  text-align: center;
}

.GameTitle {
  margin-top: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Title {
  font-size: 950%;
  margin-top: 5px;
}

.StartButton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:150%;
  text-shadow:0px 1px 0px #2f6627;
  padding:2% 4%;
}

.StartButton:hover {
	background-color:#5cbf2a;
}

.StartButton:active {
	position:relative;
	top:1px;
}


.players {
  font-size:175%;
  background-color:#44c767;
  width: 2%;
  height: 2%;
  color:#ffffff;
  text-align: center;
  display: inline-block;
  border:1px solid #18ab29;
  text-shadow:0px 1px 0px #2f6627;
  margin:1% 1%;
  border-radius: 25%;
}

.playbutton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:150%;
  text-shadow:0px 1px 0px #2f6627;
  padding:0.5% 0.5%;
  width: 40px;
  height: 40px;
}

.playbutton:hover {
	background-color:#5cbf2a;
}

.playbutton:active {
	position:relative;
	top:1px;
}

.sideTeams{
  height: 100vh;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 40px;
  background-color: lightblue;
  border-left:5px solid #000000;
}

.sideTeams div{
  display: block;
  padding: 1%;
}

.gameBody{
  margin-right: 20%;
}

input {
  border-style: none; 
  background-color:#44c767;
  outline: none;
  margin: 0.7em;
  padding: 8px;
  color: white;
  border-radius: 2%;
  font-size: 1em;
}

::placeholder { 
  color: white;
  opacity: 75%;
  
}

.overlay {
  position: fixed; 
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2;
  cursor: pointer; 
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.Points {
  display:inline-block;
  margin: 10px;
  font-size: 20px;
  border-radius: 25px;
}

.butt{
  display:inline-block;
  margin: 10px;
  background-color: rgba(0,0,0,0.5); 
  font-size: 20px;
  height:40px;
  width:40px;
  transition: 0.2s;
}

.butt:hover{
  display:inline-block;
  background-color: rgba(0,0,0,1); 

}


.BodyQuestion {
  display: inline-block;
  background-color: rgb(82, 205, 246);
  width: 195px;
  padding-top: 72.5px;
  padding-bottom: 72.5px;
  vertical-align: middle;
  margin: 1%;
  border-radius: 15%;
  font-size: 20px;
  opacity: 0.6;
  font-family: 'Helvetica';
  transition: 0.2s;
}

.BodyQuestion:hover {
  opacity: 1;
}

.headerstyle {
  display: inline-block;
  background-color: lightblue;
  padding-left: 3%;
  padding-right: 3%;
  padding-top:1%;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  margin-left: 1%;
  margin-right: 0.8%;
  border: 2px solid black;
  border-radius: 7%;
  text-align: center;
  font-size: 18px;
  font-family: 'Helvetica'
}

.DD {
  display: inline-block !important;
  font-size: 60px !important;
  animation: flash 5s infinite !important;
  animation: bounce 2s infinite !important;
}


@keyframes flash{
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1,1)
    translateY(0);
    color: red;
  }
  10% {
    transform: scale(1.1, 0.9)
    translateY(0);
  }
  20% {
    color: orange;
  }
  30% {
    transform: scale(.9, 1.1)
    translateY(-55px)
  }
  40% {
    color: yellow;
  }
  50% {
    transform: scale(1.05,0.95)
    translateY(0);
  }
  58% {
    transform: scale(1,1)
    translateY(-7px)
  }
  60% {
    color: green;
  }
  65% {
    transform: scale(1,1)
    translateY(0);
  }
  80% {
    color: blue;
  }
  100% {
    transform: scale(1,1)
    translateY(0);
    color:purple;
  }
}